{% extends "base.html" %}


{% block title %} 
  <title>Stock Checker</title>
{% endblock %} 

{% block content %}
  <div class="container">
    <table class="table table-responsive table-striped">
      <thead style="position: sticky; top: 0;" class="table-dark">
        <tr style="position: sticky; top: 0;">
          <th style="position: sticky; top: 0;" scope="col">#</th>
          <th style="position: sticky; top: 0;" scope="col">Item Name</th>
          <th style="position: sticky; top: 0;" scope="col">Item Location</th>
          <th style="position: sticky; top: 0;" scope="col">Item Amount</th>
          <th style="position: sticky; top: 0;" scope="col"></th>
        </tr>
      </thead>
      <tbody id="table_data">

      </tbody>
    </table>
  </div>

  <div class="container">
    <form class="d-flex">
      <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#add_item_modal">Add New Item</button>
    </form>
  </div>

  <div class="modal fade" id="add_item_modal" tabindex="-1" aria-labelledby="add_item_modal_label">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="add_item_modal_label">Add Item Form</h1>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="item_name" class="col-form-label">Item Name:</label>
              <input type="text" class="form-control" id="item_name">
            </div>
            <div class="mb-3">
              <label for="item_location" class="col-form-label">Item Location:</label>
              <input type="text" class="form-control" id="item_location">
            </div>
            <div class="mb-3">
              <label for="item_amount" class="col-form-label">Item Amount:</label>
              <input type="number" class="form-control" id="item_amount">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="add_item" type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Item</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="adjust_item_modal" tabindex="-1" aria-labelledby="adjust_item_modal_label">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="adjust_item_modal_label">Adjust Item Amount</h1>
        </div>
        <div class="modal-body">
          <label for="adjust_amount" class="col-form-label">Item Amount:</label>
          <input type="number" class="form-control" id="adjust_amount">
        </div>
        <div class="modal-footer">
          <button id="adjust_item_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
  </div>




{% endblock %} 