{% extends "base.html" %}


{% block title %} 
  <title>Stock Checker</title>
{% endblock %} 

{% block content %}
  <div class="container" style="padding-top: 100px;">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 id="card_title" class="card-title"></h5>
            <p id="card_name" class="card-text"></p>
            <p id="card_location" class="card-text"></p>
            <p id="card_amount" class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="appended_data">

  </div>


{% endblock %} 